{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Пости автора {{ author.name }}</title>
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>

<body>
    <div class="content">
        <h2>Пости автора: {{ author.name }}</h2>
        <p>{{ author.bio }}</p>
        <ul>
            {% for post in posts %}
            <li><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a> — {{ post.published_date }}</li>
            {% empty %}
            <li>Автор ще не має постів.</li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>